*{
    margin: 0;
    border: 0;
    padding: 0;
}
.container{
    width: 600px;
    margin: auto;
    background-color:#fff;
    margin-top: 200px;
    
}
.tab{
    display: flex;
}
.tab-item{
    flex: 1;
    text-align: center;
    padding: 20px 0;

}
.tab-line{
    width: 100px;
    height: 5px;
    left: 0;
    color: #000;
}

.box{
    
}

.box-item{
    padding: 20px 20px;
}