*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-color: #000;
}
.container{
    width: 600px;
    margin: auto;
    background-color:#fff;
    margin-top: 200px;
    
}
.tab{
    display: flex;
}
.tab-item{
    flex: 1;
    text-align: center;
    padding: 20px 0;
    opacity: 70%;
    font-size: 24px;
    font-weight: bold;
    color: rgb(226, 65, 65);
}
.tab-item:hover{
    opacity: 100%;
    color: #000;
    background-color: rgb(250, 239, 239);
}
.tab-line{
    width: ;
    height: 8px;
    left: 0;
    background-color: rgb(226, 65, 65);
    transition: linear 0.3s;
    border-radius: 5px;
}
.tab .active{
    opacity: 100%;
    color: #000;
}
.box .active{
    display: block;

}
.box{
    background-color: #999;
}

.box-item{
    padding: 20px 20px;
    display: none;
    font-size: 20px;
}